/* -- Сеточные стили --*/

html,
body {
    min-width: 1122px;
    min-height: 1750px;
}

body .main-header {
    margin-bottom: 75px;
}

.main-header__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-header {
    width: 100%;
    margin-bottom: 60px;
    background-color: #000000;
}

.container-header__1 {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
}

.main-header__logo {
    order: 2;
    width: 368px;
    height: 153px;
}

.main-header__links {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 720px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header__user-nav {
    max-width: 140px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header__links a,
.main-header__user-nav a {
    display: block;
    padding: 25px 20px;
}

.main-header__user-nav .main-header__login {
    position: relative;
    padding-left: 50px;
}

.main-header__login::before {
    position: absolute;
    top: 27px;
    left: 24px;
    content: "";
    width: 16px;
    height: 18px;
    background-image: url(../svg/login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    /*background-color: #ff0000; /* -- Для выравнивания -- */
}

.main-header__login:hover::before,
.main-header__login:focus::before,
.main-header__login:active::before {
    opacity: 1;
}

.container {}

.container__visually-hidden {}

.features {
    margin-bottom: 80px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__item {
    width: 300px;
}

.features__item h3 {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
}

.features__item h3::after {
    position: absolute;
    bottom: -30px;
    left: 50%;
    content: "";
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.features__item p {
    margin: 0 10px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
}

.news {
    width: 380px;
}

.news__list {}

.news__item {}

.button {}

.gallery {
    width: 300px;
}

.gallery__content {}

.gallery__button {}

.gallery__button-back {}

.gallery__button-next {}

.contacts {
    width: 380px;
}

.appointment {
    width: 300px;
}

.appointment__info {}

.appointment-form {}

.appoinment-item {}

.main-footer {
    margin-top: 65px;
}

.container-footer {
    display: flex;
}

.footer-contacts {
    margin: 0;
    width: 320px;
    margin-right: 80px;
}

.social {
    margin: 0;
    width: 145px;
}

.social-button {}

.footer-copy {
    margin: 0;
    width: 150px;
    margin-left: auto;
}

.modal {}

.modal-login {}

.login-form {}

.visually-hidden {}

.login-icon-user {}

.login-password-info {}

.checkbox-indicator {}

.restore {}

.modal-close {}